<form [formGroup]="vegetableForm()" (ngSubmit)="onSave()">
  <label for="name">
    Name:
    <input type="text" id="name" formControlName="name" autofocus />
    @if(vegetableName().errors; as errors) {
      @if(errors['maxlength']; as maxlength) {
        <small>Max length: {{maxNameLength}} and {{maxlength['actualLength']}} is used</small>
      }
      @if(errors['required']) {
        <small>Please provide a name</small>
      }
    }
  </label>
  <label for="description">
    Description:
    <textarea type="text" id="description" formControlName="description" rows="3"></textarea>
    @if(vegetableDescription().errors; as errors) {
      @if(errors['maxlength']; as maxlength) {
        <small>Max length: {{maxDescriptionLength}} and {{maxlength['actualLength']}} is used</small>
      }
      @if(errors['required']) {
        <small>Please provide a description</small>
      }
    }
  </label>

  @switch (formStatus()) {
    @case ('error') {
      <p class="error"><strong>Oh no!</strong> Something went wrong. Please reload the page or try again later.</p>
    }
    @case ('saving') {
      <button class="btn" type="submit" disabled>
        <span class="loader"></span>
        Saving
      </button>
    }
    @default {
      <button class="btn" type="submit" [disabled]="!vegetableForm().valid || vegetableForm().pristine">
        Save
      </button>
  
      @if (vegetableForm().pristine && vegetable()) {
        <small>Change any of the fields to save</small>
      }
    }
  }
</form>
