<main>
  <a routerLink="edit" type="button" class="btn">
    Edit vegetables
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24px"
      viewBox="0 -960 960 960"
      width="24px"
    >
      <path
        d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"
      />
    </svg>
  </a>

  <h1>Select vegetables to inspect them:</h1>

  @if (vegetableStore.isLoading()) {
    <div class="info">
      <span class="loader"></span>
      <p>Loading available vegetables</p>
    </div>
  } @else {
    @if (vegetableStore.vegetables().length) {
      <button type="button" (click)="toggleOrientation()" class="btn">
        Change listbox orientation
      </button>
    }
    <jm-listbox
      #listbox
      [(value)]="selectedToppings"
      [orientation]="orientation()"
      (orientationChange)="logOrientationChange($event)"
      (valueChange)="updateQueryParams($event)"
    >
      @for (vegetable of vegetableStore.vegetables(); track vegetable.id) {
        <jm-option [value]="vegetable">{{ vegetable.name }}</jm-option>
      } @empty {
        <div class="info wide">
          <p><em>Oh no!</em></p>
          <p>It seems there are no available vegetables.</p>
        </div>
      }
    </jm-listbox>

    <h2>Your picks ({{ selectedToppings().length }} items):</h2>
    <div class="cards">
      @for (item of selectedToppings(); track item.id) {
        <app-card
          [title]="item.name"
          [description]="item.description"
          @myInsertRemoveTrigger
        />
      }
    </div>
  }
</main>

<p>Items selected in the Listbox Component:</p>
<pre class="codesnippet"><code>{{ listBox()?.value() | json }}</code></pre>
