<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }
</style>

<main>
  <h1>Hello, {{ title }}</h1>

  <button type="button" (click)="toggleOrientation()">
    Change orientation
  </button>
  
  <hr>
  
  <jm-listbox #listbox
      [(value)]="selectedToppings"
      [orientation]="orientation()"
      (orientationChange)="logOrientationChange($event)"
      (valueChange)="logValueChange($event)">
      @for (vegetable of availableVegetables; track vegetable.id) {
        <jm-option [value]='vegetable.name'>{{vegetable.name}}</jm-option>
      }
  </jm-listbox>

  <hr>
  <p>Listbox value: {{listbox.value()}}</p>
  <p>selectedToppings: {{selectedToppings}}</p>
</main>


<router-outlet />
