<nav>
  <div class="content">
    @if (authStore.user(); as user) {
      <p @jumpIn data-test="greeting">Hi {{ user.name }}!</p>
    }
    <button
      type="button"
      class="btn"
      [class.secondary]="authStore.isLoggedIn()"
      (click)="swapUser()"
      [disabled]="authStore.status() !== Status.Idle"
      data-test="login-btn"
    >
      @if (authStore.status() === Status.Loading) {
        <span class="loader"></span>
        Logging in
      } @else {
        {{ authStore.isLoggedIn() ? 'Log out' : 'Log in' }}
      }
    </button>
  </div>
</nav>

<router-outlet />

<lib-toaster
  (reload)="onReload()"
  [hasLoadingError]="vegetableStore.status() === Status.Error"
  [newToast]="eventNotificationService.latestEvent()"
/>
