<nav>
  <div class="content">
    @if (authService.currentUser(); as user) {
      <p @jumpIn>Hi {{ user.name }}!</p>
    }
    <button
      type="button"
      class="btn"
      [class.secondary]="authService.isLoggedIn()"
      (click)="authService.swapUser()"
      [disabled]="authService.status() !== Status.Idle"
    >
      @if (authService.status() === Status.Loading) {
        <span class="loader"></span>
        Logging in
      } @else {
        {{ authService.isLoggedIn() ? "Log out" : "Log in" }}
      }
    </button>
  </div>
</nav>

<router-outlet />

<app-toaster />
