:host {
  --box-radius: 1rem;

  display: grid;
  padding-bottom: 3rem;

  article:first-of-type {
    border-top-left-radius: var(--box-radius);
    border-top-right-radius: var(--box-radius);
  }

  article:last-of-type {
    border-bottom-left-radius: var(--box-radius);
    border-bottom-right-radius: var(--box-radius);
  }

  .row {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;

    p,
    h3 {
      margin: 0;
    }

    &:nth-child(odd) {
      background-color: #fff9f3;
    }

    &:nth-child(even) {
      background-color: #fceddd;
    }

    &.deleting {
      animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
  }

  .editBar {
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  > .btn {
    margin: 1rem 0;
    padding: 1rem;
  }

  dialog {
    border-radius: var(--box-radius);
    border: none;
    width: 500px;
    max-width: 100vw;
    position: relative;

    .btn:first-of-type {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.2;
  }
}
