:host {
  display: grid;

  .row {
    display: flex;
    gap: 2rem;

    p,
    h3 {
      margin: 0;
    }

    &:nth-child(odd) {
      background-color: #fef7f0;
    }

    &.deleting {
      animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
  }

  .editBar {
    margin-left: auto;
    display: grid;
    gap: 0.5rem;
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.2;
  }
}
