:host {
  display: flex;
  width: 100%;
  min-height: var(--min-h);
  background-color: var(--orange);
  align-items: flex-start;
  justify-content: center;
}

main {
  margin: 2rem 0.5rem;
  border-radius: var(--box-radius);
  width: 600px;
  max-width: 100vw;
  padding: 2rem;
  background-color: white;
  box-shadow: var(--shadow)
}
