/* You can add global styles to this file, and also import other style files */
:root {
  --outline: 3px dashed rgb(255, 125, 218);
}

body {
  margin: 0;
  padding: 0;
}

.btn {
  border-radius: 2rem;
  display: inline-flex;
  padding: 0.5rem 1rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgb(255, 186, 112);
  font-weight: 900;
  text-transform: uppercase;
  transition: all 200ms ease-in;

  &:hover,
  &:active {
    transition: all 150ms;
  }

  &:hover {
    background-color: rgb(255, 165, 68);
  }

  &:focus {
    outline: 3px dashed rgb(255, 125, 218);
  }

  &:active {
    background-color: rgb(235, 136, 31);
  }

  &:disabled {
    cursor: default;
    color: rgb(79, 58, 35);
    background-color: rgb(211, 204, 195);
    opacity: 0.75;
  }

  &.icon-btn {
    background-color: rgba(255, 186, 112, 0);
    width: 2rem;
    height: 2rem;
    padding: 0;
    fill: rgba(47, 42, 37, 0.5);

    &:hover {
      background-color: rgba(255, 186, 112, 0.5);
      fill: rgba(47, 42, 37, 1);
    }
  }
}

.loader {
  --accent-color: rgb(79, 58, 35);
  display: block;
  width: 2rem;
  height: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--accent-color) 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, var(--accent-color));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
  margin: 0 .5rem;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
